# Blokada wykonywania kodu w katalogu z plikami użytkownika
php_flag engine off
<IfModule mod_php.c>
  php_admin_flag engine off
</IfModule>
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .php8 .phps .cgi .pl .py
RemoveType .php .phtml .php3 .php4 .php5 .php7 .php8 .phps
AddType text/plain .php .phtml .phps .cgi .pl .py .html .htm .shtml
<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set Content-Security-Policy "default-src 'none'; img-src 'self' data:; style-src 'unsafe-inline'"
</IfModule>
Options -ExecCGI -Indexes